snippet sci "load scientific packages"
import math
import cmath 			as cm
import numpy 			as np
import sympy 			as sp
import pandas 			as pd
import scipy 			as sc
import matplotlib 		as mpl
import matplotlib.pyplot 	as plt

sp.init_session()
endsnippet
